<div class="pull-right">
    <form action="" role="search">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search for Name or MRN" ng-change="searchPatients(searchTerm)" ng-model="searchTerm">
        </div>
    </form>
</div>
<a ui-sref="createPatient" class="btn btn-default spacer">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add patient
</a>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>MRN</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="patient in patients">
        <td>{{patient.name}}</td>
        <td>{{patient.mrn}}</td>
        <td>
            <a ui-sref="viewPatient({ patientId: patient._id })" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-search"></span>
                View
            </a>
            <a ui-sref="editPatient({ patientId: patient._id })" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
        </td>
    </tr>
</table>
<ul class="pagination patination-sm">
    <li class="previous" ng-class="{ disabled: prev < 0}"><a ui-sref="listPatients({skip: previous})">&larr; Prev</a></li>
    <li ng-repeat="page in pages"><a ui-sref="listPatients({skip: page.skip})">{{page.page}}</a></li>
    <li class="next"><a ui-sref="listPatients({skip: next})">Next &rarr;</a></li>
</ul>
