<a ui-sref="patientsNew" class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add patient
</a>
<table class="table table-striped spacer">
    <tr>
        <th>Name</th>
        <th>MRN</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="patient in patients">
        <td>{{patient.name}}</td>
        <td>{{patient.mrn}}</td>
        <td>
            <a ui-sref="patientsView({ patientId: patient._id })" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-search"></span>
                View
            </a>
            <a ui-sref="patientsEdit({ patientId: patient._id })" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
        </td>
    </tr>
</table>
