<h2>{{patient.name}} <small>{{patient.mrn}}</small></h2>
<p><strong>History:</strong> {{patient.history}}</p>
<p>
    <strong>Conferences:</strong>
    <ul ng-repeat="conference in conferences">
        <li>
            <a ui-sref="viewSelectedPatient({ conferenceId: conference._id, patientId: patient._id })">
                {{conference.date | date:'shortDate'}}: {{conference.name}}
            </a>
        </li>
    </ul>
</p>
<p>
    <strong>Observations:</strong><br>
    <a ui-sref="createObservation({ patientId: patient._id })" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add observation
    </a>
    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="observation in observations">
            <td>{{observation.type}}</td>
            <td>{{observation.value}}</td>
            <td>
                <a ui-sref="editObservation({ patientId: patient._id, observationId: observation._id })" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </a>
                <button class="btn btn-danger btn-xs" type="button" ng-click="deleteObservation(observation._id)">
                    <span class="glyphicon glyphicon-fire"></span>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</p>
