<form role="form">
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" name="type" class="form-control" placeholder="Enter type" ng-model="observation.type">
    </div>
    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" name="value" class="form-control" placeholder="Enter value" ng-model="observation.value">
    </div>
    <div class="form-group" ng-hide="observation.file">
        <label for="file">File</label>
        <input type="file" name="file" onchange="angular.element(this).scope().captureFile(this)">
    </div>
    <div class="well" ng-show="observation.file">
        {{observation.file.name}}
        <span class="label label-info">Size: {{observation.file.size}} Bytes</span>
        <span class="label label-info">Type: {{observation.file.type}}</span>
        <span class="pull-right"><button class="btn btn-danger btn-xs" type="button" ng-click="observation.file = null"><span class="glyphicon glyphicon-remove-sign"></span></button></span>
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit(observation)">Submit</button>
</form>
