<form role="form">
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" name="type" class="form-control" placeholder="Enter type" ng-model="observation.type">
    </div>
    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" name="value" class="form-control" placeholder="Enter value" ng-model="observation.value">
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input type="file" name="file" onchange="angular.element(this).scope().captureFile(this)">
    </div>
    <div class="well" ng-show="observation.file">
        {{observation.file.name}} (Size: {{observation.file.size}} Bytes, Type: {{observation.file.type}})
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit(observation)">Submit</button>
</form>
