<a href="#/conferences/new" class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add conference
</a>
<table class="table table-striped spacer">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="conference in conferences">
        <td>{{conference.date | date:'shortDate'}}</td>
        <td>{{conference.name}}</td>
        <td>
            <a href="#/conferences/edit/{{conference._id}}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
        </td>
    </tr>
</table>
