<div class="row">
    <div class="col-md-3">
        <form ng-show="recentConferences" class="spacer">
            <div class="form-group">
                <h4>Conference</h4>
                <select class="form-control" ng-model="conference" ng-options="conference.date | date:'shortDate' for conference in recentConferences">
                </select>
            </div>
        </form>
        <div ng-hide="recentConferences">
            <h4>Conference</h4>
            <p>{{conference.date | date:'shortDate'}}: {{conference.name}}</p>
        </div>
        <div>
            <h4>Patients</h4>
            <ul class="list-group">
                <li ng-repeat="patient in conference.patients" class="list-group-item">
                    <a ui-sref="viewSelectedPatient({ conferenceId: conference._id, patientId: patient._id })">
                        {{patient.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>
